@import './assets/all.scss';
@import './resetting.scss';

@import './fonts/roboto.scss';
$fonts: 'Roboto', sans-serif;

* {

  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &::before,
  &::after {
    user-select: none;
  }

  &:root {
    // breakpoints
    --mobile: $mobile;
    --tablet: $tablet;
    --desktop: $desktop;
  }

  &,
  * {
    &::-webkit-scrollbar {
      width: $scrollbar-width;
      height: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: transparent
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-color;
    }
  }
}

html,
body {
  height: 100dvh;
  min-width: $tablet-min-width;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  line-height: normal;

  font-family: $fonts;
  background-color: $body-color;
}

#root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  line-height: normal;
  font-family: $fonts;
}

div {
  width: 100%;
  overflow-x: hidden;
}

input,
select,
textarea {
  outline: none;
}

button {
  cursor: $custom-pointer;
  user-select: none;
}

a {

  &,
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: $custom-pointer;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-fit: contain;
}

p {
  overflow: visible;
  display: inline-block;
  text-overflow: ellipsis;
}
