// basic colors

$body-color: #F4F7FE;

$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: #959CA9;
$blue-color: #2451B2;
$green-color: #30b224;

// 

:export {
    white-color: $white-color;
    blue-color: $blue-color;
}
